<div id="korb" class="korb section services">
  <div class="negative-margins">
    <div class="container container-paddings">
      <div class="col-sm-12 col-md-12">
        <h1 class="title left-padding">Page not found</h1>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p style="font-size: 200px">
            404
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>