<div class="wrapper-global">
  <div class="wrapper-content">
    <div id="korb" class="korb section services">
      <div class="negative-margins">
        <div class="container container-paddings">
          <div class="col-sm-12 col-md-12">
            <h1 class="title left-padding">О нас</h1>
          </div>
          <div class="clearfix"></div>
          <div class="sticky left-side">
            <h1 class="heading">О нас</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="contact-content-holder">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet asperiores cumque error est
                  eveniet, harum in inventore ipsa labore magni mollitia numquam qui quod sequi totam vitae voluptate
                  voluptatum!
                </p>
                <p>Amet ea modi nulla qui. Accusamus accusantium aliquam animi aspernatur dicta eius error fuga illo,
                  illum labore laboriosam modi mollitia natus nesciunt obcaecati quae quas qui, quo vero voluptate
                  voluptatem.
                </p>
              </div>
              <div class="contact-content-holder">
                <p>Accusantium consequatur culpa maxime molestias voluptatibus! Aliquam aliquid, asperiores atque earum
                  eius error esse in inventore iste iusto, labore nesciunt nihil odio odit possimus quo quod quos
                  repellendus suscipit totam.
                </p>
                <p>Aspernatur assumenda cum cumque dolorum ducimus eius explicabo illum neque nostrum odio recusandae
                  repellat, similique suscipit tempore vel! At excepturi in, magni molestiae pariatur porro vitae.
                  Consequuntur est fugiat laborum?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-footer">
    <app-footer></app-footer>
  </div>

</div>
