<div class="wrapper-global">
  <div class="wrapper-content">
  <div class="section services">
    <div class="negative-margins">
      <div class="container-paddings">
        <div class="no_padding container">
          <div class="clearfix"></div>
          <div class="sticky left-side">
            <h1 class="heading">Услуги</h1>
          </div>

          <div class="">
            <h1 class="title col-sm-12 col-md-12">Наши услуги</h1>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 services-inform">
            <p class="services-inform__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, assumenda atque doloremque eius enim ex fugit, labore necessitatibus nulla numquam perspiciatis quos similique sint vero voluptatem! Commodi, earum eos et eveniet, facere iste libero maxime, nisi nostrum perspiciatis quaerat quibusdam repellat? Expedita, inventore rem. Accusantium, amet atque consectetur consequatur doloribus harum illo ipsa molestias perferendis perspiciatis quia quidem quis quod ratione, sint tempore vero? A accusantium aut ducimus earum error eum excepturi expedita fuga harum illo itaque iusto maiores molestias, nesciunt obcaecati officia omnis perspiciatis quae qui quod recusandae
            </p>
            <div class="submitContactForm">
              <a href="#" data-toggle="modal" data-target="#orderForm" class="order-button order-buttonModal" >Заказать</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8 services-list">

            <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>
            <div class="col-sm-6 col-md-3 col-lg-3  services-cell">
                <div class="hover-effect">
                  <a routerLink="/autsorsing-marketinga" routerLinkActive="active" class="routerLink hover-text" >
                    <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                    <p class="hover-about">autsorsing marketinga<p>
                  </a>
                </div>

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3  services-cell">
              <div class="hover-effect">
                <a routerLink="/digital-strategiya" routerLinkActive="active" class="routerLink hover-text">
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">digital strategiya<p>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>

            <div class="col-sm-6 col-md-3 col-lg-3 services-cell">
              <div class="hover-effect">
                <a routerLink="/branding" routerLinkActive="active" class="routerLink hover-text">
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">branding<p>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 services-cell">
              <div class="hover-effect">
                <a routerLink="/raskrutka-sajtov" routerLinkActive="active" class="routerLink hover-text" >
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">raskrutka sajtov<p>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 services-cell">
              <div class="hover-effect">
                <a routerLink="/kontekstnaya-reklama" routerLinkActive="active" class="routerLink hover-text" >
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">kontekstnaya reklama<p>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>

            <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>
            <div class="col-sm-6 col-md-3 col-lg-3 services-cell">
              <div class="hover-effect">
                <a routerLink="/vnedrenie-crm-bitrix24" routerLinkActive="active" class="routerLink hover-text" >
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">vnedrenie crm bitrix24<p>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 services-cell">
              <div class="hover-effect">
                <a routerLink="/sozdanie-sajtov" routerLinkActive="active" class="routerLink hover-text" >
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">sozdanie sajtov<p>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 services-cell">
              <div class="hover-effect">
                <a routerLink="/sozdanie-videorolikov" routerLinkActive="active" class="routerLink hover-text" >
                  <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                  <p class="hover-about">sozdanie videorolikov<p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>

  <div class="wrapper-footer">
    <app-footer></app-footer>
  </div>
</div>
