<div class="wrapper-global" xmlns="http://www.w3.org/1999/html">
  <div class="wrapper-content">
    <div class="section tabsblock show-bg1"  data-ix="show-bg1">
  <div class="sticky left-side">
    <h1 class="heading">BizRaise</h1>
  </div>
  <object class="background-svg b-rotation" type="image/svg+xml" data="../../assets/img/rotation.svg" id="rotation_svg">
    Your browser does not support SVGs
  </object>

  <div data-ix="fade-in-on-load" class="full-opacity sticky">
    <div class="b-header__service container">
      <div class="b-service__serviceblock">
        <div class="b-serviceblock b-normal__width b-serviceblock1">
          <div class="b-serviceblock__text">
            <a href="#" class="b-serviceblock__link">Маркетинговые услуги</a>
          </div>
          <div class="b-serviceblock__inform">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consectetur consequatur distinctio dolores et eveniet excepturi exercitationem expedita fuga harum id illo iure labore magnam maiores.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="b-serviceblock b-normal__width b-serviceblock2">
          <div class="b-serviceblock__text">
            <a href="#" class="b-serviceblock__link">Digital Продакшн</a>
          </div>
          <div class="b-serviceblock__inform b-closetabs">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consectetur consequatur distinctio dolores et eveniet excepturi exercitationem expedita fuga harum id illo iure labore magnam maiores.</p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="b-serviceblock b-normal__width b-serviceblock3">

          <div class="b-serviceblock__inform b-closetabs">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consectetur consequatur distinctio dolores et eveniet excepturi exercitationem expedita fuga harum id illo iure labore magnam maiores.</p>
          </div>
          <div class="b-serviceblock__text ">
            <a href="#" class="b-serviceblock__link">Автоматизация бизнеса</a>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <div class="b-service__servicemob">
        <div class="b-servicemob__item">
          <div class="b-servicemob__link"> <a href="#">Маркетинговые услуги</a></div>
          <div  class="b-servicemob__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consectetur consequatur distinctio dolores et eveniet excepturi exercitationem expedita fuga harum id illo iure labore magnam maiores.</p>
          </div>
        </div>

        <div class="b-servicemob__item">
          <div class="b-servicemob__link"> <a href="#">Digital Продакшн</a></div>
          <div  class="b-servicemob__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consectetur consequatur distinctio dolores et eveniet excepturi exercitationem expedita fuga harum id illo iure labore magnam maiores.</p>
          </div>
        </div>

        <div class="b-servicemob__item">
          <div class="b-servicemob__link"> <a href="#">Автоматизация бизнеса</a></div>
          <div  class="b-servicemob__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae consectetur consequatur distinctio dolores et eveniet excepturi exercitationem expedita fuga harum id illo iure labore magnam maiores.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="w-inline-block svg">
    <!--<div class="fs"><h1 class="heading">BizRaise</h1></div>-->
  </div>
  <div id="mouse-scroll" class="mouse-bottom"><a href="#tabs" class="scrollLink"><img src="../../assets/img/scroll_allwhite_mouse_raton.gif"></a></div>
</div>
    <div id="tabs" class="section tabsblock">
      <div class="tabs no_padding b-margin__top container">
        <div class="">
          <h1 class="title col-sm-12 col-md-12">Полный комплекс решений для бизнеса</h1>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul class="nav nav-tabs PrimaryNav with-indicator">
              <li class="virt_tabs Nav-item is-active"><a data-toggle="tab" href="#menu1" >Стартапам с большими целями</a></li>
              <li class="virt_tabs Nav-item"><a data-toggle="tab" href="#menu2">Начинающему малому бизнесу</a></li>
              <li class="virt_tabs Nav-item"><a data-toggle="tab" href="#menu3">Среднему бизнесу </a></li>
              <li class="virt_tabs Nav-item"><a data-toggle="tab" href="#menu4">Крупному бизнесу</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-md-12">
              <div class="tab-content">
                <div id="menu1" class="tab-pane fade in active">
                                        <span>
                                            <p>1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda cum dolor dolorem doloribus, dolorum eveniet excepturi exercitationem. </p>
                                        </span>
                  <div class="submitContactForm">
                    <a href="#" data-toggle="modal" data-target="#orderForm"  class="order-button order-buttonModal">Заказать</a>
                  </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                                      <span>
                                            <p>2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda cum dolor dolorem doloribus, dolorum eveniet excepturi exercitationem. </p>
                                        </span>
                  <div class="submitContactForm">
                    <a href="#" data-toggle="modal" data-target="#orderForm" class="order-button order-buttonModal">Заказать</a>
                  </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                                       <span>
                                            <p>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda cum dolor dolorem doloribus, dolorum eveniet excepturi exercitationem. </p>
                                        </span>
                  <div class="submitContactForm">
                    <a  href="#" data-toggle="modal" data-target="#orderForm" class="order-button order-buttonModal">Заказать</a>
                  </div>
                </div>
                <div id="menu4" class="tab-pane fade">
                                       <span>
                                            <p>4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda cum dolor dolorem doloribus, dolorum eveniet excepturi exercitationem. </p>
                                        </span>
                  <div class="submitContactForm">
                    <a href="#" data-toggle="modal" data-target="#orderForm"  class="order-button order-buttonModal">Заказать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="landing" data-ix="show-bg1" class="intro section advantages">

      <div data-ix="fade-in-on-load" class="full-opacity sticky container">
        <div class="col-sm-12 col-md-12"> <h1 class="title ">Наши преимущества</h1></div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 b-advantages__items">
            <div class="advantages-holder">
              <article class="advantage">
                <p class="advantage__number">1</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque harum ipsum nesciunt nobis odio.
              </article>
              <article class="advantage">
                <p class="advantage__number">2</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque harum ipsum nesciunt nobis odio.
              </article>
            </div>
            <div class="advantages-holder">
              <article class="advantage">
                <p class="advantage__number">3</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque harum ipsum nesciunt nobis odio.
              </article>
              <article class="advantage">
                <p class="advantage__number">4</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque harum ipsum nesciunt nobis odio.
              </article>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 b-height__max">
            <div class="advantages__text">
              <div class="advantages__item">
                <a href="#" class="advantages__link">Pdf</a><a href="#" class="advantages__textlink">Скачать презентацию</a>
              </div>
              <div class="advantages__item">
                <a href="#" class="advantages__link">Pdf</a><a href="#" class="advantages__textlink">Скачать презентацию</a>
              </div>
              <div class="advantages__item">
                <a href="#" class="advantages__link">Pdf</a><a href="#" class="advantages__textlink">Скачать презентацию</a>
              </div>
              <div class="advantages__item">
                <a href="#" class="advantages__link">Pdf</a><a href="#" class="advantages__textlink">Скачать презентацию</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section occupation">
      <div class="no_padding container">
        <div class="">
          <h1 class="title col-sm-12 col-md-12">Наши услуги</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 occupation-list">

          <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>
          <div class="col-sm-6 col-md-3 col-lg-3  occupation-cell">
            <div class="hover-effect">
              <a routerLink="/autsorsing-marketinga" routerLinkActive="active" class="routerLink hover-text" >
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">autsorsing marketinga<p>
              </a>
            </div>

          </div>
          <div class="col-sm-6 col-md-3 col-lg-3  occupation-cell">
            <div class="hover-effect">
              <a routerLink="/digital-strategiya" routerLinkActive="active" class="routerLink hover-text">
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">digital strategiya<p>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>

          <div class="col-sm-6 col-md-3 col-lg-3 occupation-cell">
            <div class="hover-effect">
              <a routerLink="/branding" routerLinkActive="active" class="routerLink hover-text">
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">branding<p>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 occupation-cell">
            <div class="hover-effect">
              <a routerLink="/raskrutka-sajtov" routerLinkActive="active" class="routerLink hover-text" >
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">raskrutka sajtov<p>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 occupation-cell">
            <div class="hover-effect">
              <a routerLink="/kontekstnaya-reklama" routerLinkActive="active" class="routerLink hover-text" >
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">kontekstnaya reklama<p>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>

          <div class="col-sm-6 col-md-3 col-lg-3 mobile-hidden"></div>
          <div class="col-sm-6 col-md-3 col-lg-3 occupation-cell">
            <div class="hover-effect">
              <a routerLink="/vnedrenie-crm-bitrix24" routerLinkActive="active" class="routerLink hover-text" >
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">vnedrenie crm bitrix24<p>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 occupation-cell">
            <div class="hover-effect">
              <a routerLink="/sozdanie-sajtov" routerLinkActive="active" class="routerLink hover-text" >
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">sozdanie sajtov<p>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 occupation-cell">
            <div class="hover-effect">
              <a routerLink="/sozdanie-videorolikov" routerLinkActive="active" class="routerLink hover-text" >
                <p class="hover-title"><fa class="fa fa-desktop"></fa></p>
                <p class="hover-about">sozdanie videorolikov<p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 occupation-inform">
          <p class="occupation-inform__text">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, assumenda atque doloremque eius enim ex fugit, labore necessitatibus nulla numquam perspiciatis quos similique sint vero voluptatem! Commodi, earum eos et eveniet, facere iste libero maxime, nisi nostrum perspiciatis quaerat quibusdam repellat? Expedita, inventore rem. Accusantium, amet atque consectetur consequatur doloribus harum illo ipsa molestias perferendis perspiciatis quia quidem quis quod ratione, sint tempore vero? A accusantium aut ducimus earum error eum excepturi expedita fuga harum illo itaque iusto maiores molestias, nesciunt obcaecati officia omnis perspiciatis quae qui quod recusandae, reiciendis rem repellat ullam veniam, veritatis voluptatibus. Fuga fugit numquam reiciendis!
          </p>
          <div class="submitContactForm">
            <a href="#" data-toggle="modal" data-target="#orderForm"  class="order-button order-buttonModal">Заказать</a>
          </div>
        </div>
      </div>
    </div>
    <div id="griff" class="section gallery tabs t-tabs">
      <div class="tabs no_padding container">
        <div class="">
          <h1 class="title col-sm-12 col-md-12">Наши клиенты</h1>
          <ul class="nav nav-tabs fancyTabs" role="tablist">

            <li class="tab fancyTab active">
              <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><fa class="fa fa-desktop"></fa><span class="hidden-xs">Connect</span></a>
              <div class="whiteBlock"></div>
            </li>

            <li class="tab fancyTab">
              <a id="tab1" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0"><fa class="fa fa-firefox"></fa><span class="hidden-xs">Create</span></a>
              <div class="whiteBlock"></div>
            </li>

            <li class="tab fancyTab">

              <a id="tab2" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0"><fa class="fa fa-envira"></fa><span class="hidden-xs">Discover</span></a>
              <div class="whiteBlock"></div>
            </li>

            <li class="tab fancyTab">

              <a id="tab3" href="#tabBody3" role="tab" aria-controls="tabBody3" aria-selected="true" data-toggle="tab" tabindex="0"><fa class="fa fa-mortar-board"></fa><span class="hidden-xs">Align</span></a>
              <div class="whiteBlock"></div>
            </li>

            <li class="tab fancyTab">

              <a id="tab4" href="#tabBody4" role="tab" aria-controls="tabBody4" aria-selected="true" data-toggle="tab" tabindex="0"><fa class="fa fa-stack-overflow"></fa><span class="hidden-xs">Capture</span></a>
              <div class="whiteBlock"></div>
            </li>

          </ul>
          <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
            <div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
              <div>
                <div class="row">

                  <div class="col-md-12">
                    <h2>This is the content of tab one.</h2>
                    <p>This field is a rich HTML field with a content editor like others used in Sitefinity. It accepts images, video, tables, text, etc. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
              <div class="row">

                <div class="col-md-12">
                  <h2>This is the content of tab two.</h2>
                  <p>This field is a rich HTML field with a content editor like others used in Sitefinity. It accepts images, video, tables, text, etc.</p>

                </div>
              </div>
            </div>
            <div class="tab-pane  fade" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" tabindex="0">
              <div class="row">
                <div class="col-md-12">
                  <h2>This is the content of tab three.</h2>
                  <p>This field is a rich HTML field with a content editor like others used in Sitefinity. It accepts images, video, tables, text, etc. </p>
                </div>
              </div>
            </div>
            <div class="tab-pane  fade" id="tabBody3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" tabindex="0">
              <div class="row">
                <div class="col-md-12">
                  <h2>This is the content of tab four.</h2>
                  <p>This field is a rich HTML field with a content editor like others used in Sitefinity. It accepts images, video, tables, text, etc. </p>
                </div>
              </div>
            </div>
            <div class="tab-pane  fade" id="tabBody4" role="tabpanel" aria-labelledby="tab4" aria-hidden="true" tabindex="0">
              <div class="row">
                <div class="col-md-12">
                  <h2>This is the content of tab five.</h2>
                  <p>This field is a rich HTML field with a content editor like others used in Sitefinity. It accepts images, video, tables, text, etc. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ix="show-bg-2" id="order" class="b-margin__top centered last section">
      <div class="full-opacity sticky">
        <h1 class="first heading">BizRaise</h1>
      </div>
      <div class="container">
        <h2 class="heading-4">Lorem ipsum dolor sit amet, <br/>praesent contentiones</h2>

        <div class="col-xs-12 b-container__form">
        <a href = "javascript:void(0);" class="order-button order-button__link ctaFormView">Заказать сейчас</a>
        <form class="cta_form visuallyhiddenForm hidden-block form_simple">
          <div class="col-xs-12 col-sm-12 col-md-4 contentForm">
            <span class="wpcf7-form-control-wrap your-name">
              <input type="text"
                     name="name"
                     class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-not-valid cta_form__input"
                     aria-required="true"
                     aria-invalid="true"
                     placeholder="Ваше имя"
                     [ngClass]="{'formError': nameError}"
                     [readonly]="ajaxService.done"
                     [(ngModel)]="formData.name">
              <div class="inputMessageName"></div>
            </span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <span class="wpcf7-form-control-wrap your-name">
              <input type="text"
                     name="phone"
                     placeholder="Ваш телефон"
                     class=" cta_form__input"
                     [ngClass]="{'formError': phoneError}"
                     [readonly]="ajaxService.done"
                     [(ngModel)]="formData.phone">
                 <div class="inputMessagePhone"></div>
            </span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="submitContactForm">
              <button type="submit"
                     class="sendMessage order-button"
                     (click)="onSubmit()"
                      [disabled]="ajaxService.done"
                     >
                {{ ajaxService.done == true ? 'Отправленно' : 'Отправить' }}
              </button>
            </div>
          </div>
          <div class="w-clearfix"></div>
          <div class="col-md-12">
            <div class="messageOk"></div>
          </div>
        </form>
      </div>
          <div class="w-clearfix"></div>
      </div>
    </div>
  </div>
  <div class="wrapper-footer">
    <app-footer></app-footer>
  </div>
</div>
