<div class="section services">
    <div class="negative-margins">
        <div class="container-paddings">
            <div class="no_padding container">
                <div class="clearfix"></div>
                <div class="sticky top-side">
                    <h1 class="heading">Раскрутка</h1>
                </div>

                <div class="">
                    <h1 class="title col-sm-12 col-md-12">Раскрутка</h1>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 services-inform">
                    <p class="services-inform__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, assumenda atque doloremque eius enim ex fugit, labore necessitatibus nulla numquam perspiciatis quos similique sint vero voluptatem! Commodi, earum eos et eveniet, facere iste libero maxime, nisi nostrum perspiciatis quaerat quibusdam repellat?
                    </p>
                    <div class="submitContactForm">
                        <a href="#" data-toggle="modal" data-target="#orderForm" class="order-button order-buttonModal" >Заказать</a>
                    </div>
                </div>

                <div class="b-composition">
                    <div class="">
                        <div class="col-sm-12 col-md-12"> <h2 class="title ">Наши услуги</h2></div>
                        <div class="clearfix"></div>
                        <div class="">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 b-composition__checkpoint">
                                <div class="b-checkpoint">
                                    <div class="b-checkpoint__item"><fa _ngcontent-c1="" class="fa fa-check"></fa>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium distinctio.</div>
                                    <div class="b-checkpoint__item"><fa _ngcontent-c1="" class="fa fa-check"></fa>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium distinctio.</div>
                                    <div class="b-checkpoint__item"><fa _ngcontent-c1="" class="fa fa-check"></fa>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium distinctio.</div>
                                    <div class="b-checkpoint__item"><fa _ngcontent-c1="" class="fa fa-check"></fa>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium distinctio.</div>
                                    <div class="b-checkpoint__item"><fa _ngcontent-c1="" class="fa fa-check"></fa>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium distinctio.</div>
                                </div>
                                <div class="submitContactForm">
                                    <a href="#" data-toggle="modal" data-target="#orderForm" class="order-button order-buttonModal" >Заказать</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 b-height__max b-composition__description">
                                <div class="b-description">
                                    <div class="b-description__item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                    </div>
                                    <div class="b-description__item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                    </div>
                                    <div class="b-description__item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="block-with-numbers">
                    <div class="">
                        <div class="col-sm-12 col-md-12"> <h2 class="title ">Наши преимущества</h2></div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 b-advantages__items">
                                <div class="advantages-holder">
                                    <article class="advantage">
                                        <p class="advantage__number">1</p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi cumque error fugiat minima minus nesciunt. Adipisci beatae blanditiis eaque error omnis quaerat suscipit ullam vitae? Architecto deserunt ducimus, earum error est facere laborum libero molestias nesciunt quae quibusdam quod reiciendis sapiente sequi vero voluptates voluptatibus.
                                    </article>
                                    <article class="advantage">
                                        <p class="advantage__number">2</p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi cumque error fugiat minima minus nesciunt. Adipisci beatae blanditiis eaque error omnis quaerat suscipit ullam vitae? Architecto deserunt ducimus, earum error est facere laborum libero molestias nesciunt quae quibusdam quod reiciendis sapiente sequi vero voluptates voluptatibus.
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>